<div class="footer footerB absolute ">

    <div class=" btnHide z-depth-2 white ">
        <i class="fas fa-angle-double-down fa-2x "></i>
    </div>

    <div class="containNavbar footerBottom show ">


        <div class="navbar navbarOn white transport z-depth-2 transition ">

            <a id="Velo" class="critere">Vélo</a>
            <a id="Bus" class="critere">Bus</a>
            <a id="Ligne 1" class="critere">Ligne 1</a>
            <a id="Ligne 2" class="critere">Ligne 2</a>
            <a id="Ligne 3" class="critere">Ligne 3</a>
            <a id="Ligne 4" class="critere">Ligne 4</a>
            <a id="Ligne 5" class="critere">Ligne 5</a>
            <a id="Ligne 6" class="critere">Ligne 6</a>
            <a id="Ligne 7" class="critere">Ligne 7</a>
            <a id="Ligne 8" class="critere">Ligne 8</a>
            <a id="Ligne 9" class="critere">Ligne 9</a>
        </div>

        <div class="navbar navbarOn white parking z-depth-2 transition">
            <a id="ParkingVelo" class="critere">Vélo</a>
            <a id="ParkingVoiture" class="critere">Voiture</a>
            <a id="ParkingGratuit" class="critere filterHide">Gratuit</a>
            <a id="ParkingCouvert" class="critere filterHide">Couvert</a>
            <a id="ParkingCovoiturage" class="critere filterHide">Covoiturage</a>
        </div>


        <div class="navbar navbarOn white alimentation z-depth-2 transition">
            <a id="Biocop" class="critere">Biocop</a>
            <a id="Marché" class="critere">Marché</a>
            <a id="CircuitCourt" class="critere">Circuit court</a>
        </div>

        <div class="navbar navbarOn white sante z-depth-2 transition">
            <a id="Defibrilateur" class="critere">Défibrilateur</a>
            <a id="Pharmacie" class="critere">Pharmacie</a>
            <a id="Médecin" class="critere">Médecin</a>
            <a id="MaisonDeSante" class="critere">Maison de santé</a>
            <a id="Hopital" class="critere">Hopital</a>
        </div>
        <div class="navbar navbarOn white entraide z-depth-2 transition">
            <a id="RepairCafe" class="critere">Repair café</a>
            <a id="Coworking" class="critere">Coworking</a>
            <a id="Cooperative" class="critere">Coopérative d'activité</a>
            <a id="association" class="critere">Économie solidaire</a>
        </div>


        <div class="navbar navbarUnder show white z-depth-2">

            <i id="transport" class="fas fa-route fa-2x icon tooltipped" data-tooltip="Transport" data-position="top"
               data-delay="300">
                <div class=" categotext">MOBILITÉ</div>
            </i>
            <i id="parking" class="fas fa-parking fa-2x tooltipped" data-tooltip="Parking" data-position="top">
                <div class=" categotext">STATIONNEMENT</div>
            </i>
            <i id="entraide" class="fas fa-hands-helping fa-2x tooltipped" data-tooltip="Entraide" data-position="top">
                <div class=" categotext">ENTRAIDE</div>
            </i>
            <i id="alimentation" class="fas fa-carrot fa-2x tooltipped" data-tooltip="Alimentation" data-position="top">
                <div class=" categotext">ALIMENTATION</div>
            </i>
            <i id="sante" class="fas fa-briefcase-medical  fa-2x tooltipped" data-tooltip="Santé" data-position="top">
                <div class=" categotext">SANTÉ</div>  <!-- hide-on-med-and-up -->
            </i>

        </div>

    </div>

</div>
