<footer class="footer white z-depth-1 ">


    <div class="navbar navbarOn sidenav2 " id="mySidenav">
        <a class=" cool ">Bus</a>
        <a class=" cool ">Vélo </a>
    </div>

    <div class="navbar navbarUnder z-depth-2">
        <i class="fas fa-map-signs fa-2x icon"></i>
        <i class="fas fa-parking fa-2x"></i>
        <i class="fas fa-hands-helping fa-2x"></i>
        <i class="fas fa-route  fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <i class="fas fa-map-signs fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>

    </div>

</footer>
