<div class="footer absolute ">


    <div class="navbar navbarOn white transport z-depth-2 ">
        <a class=" cool ">Bus</a>
        <a class=" cool ">Vélo </a>
    </div>

    <div class="navbar navbarOn white parking z-depth-2">
        <a class=" cool ">Voiture</a>
        <a class=" cool ">Vélo</a>
        <a class=" cool ">Gratuit</a>
        <a class=" cool ">Couvert</a>
        <a class=" cool ">Covoiturage</a>

    </div>

    <div class="navbar navbarOn white entraide z-depth-2">
        <a class=" cool ">Entraide1</a>
        <a class=" cool ">Entraide2 </a>
        <a class=" cool ">Entraide3 </a>
        <a class=" cool ">Entraide4 </a>
    </div>

    <div class="navbar navbarOn white marché z-depth-2">
        <a class=" cool ">Alimentaire</a>
        <a class=" cool ">Non alimentaire </a>
    </div>


    <div class="navbar navbarUnder white z-depth-2">

        <div class="moreGradientLeft"></div>
        <i id="transport" class="fas fa-map-signs fa-2x icon"></i>
        <i id="parking" class="fas fa-parking fa-2x"></i>
        <i id="entraide" class="fas fa-hands-helping fa-2x"></i>
        <i id="marché" class="fas fa-route  fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <i class="fas fa-map-signs fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <i class="fas fa-carrot  fa-2x"></i>
        <div class="moreGradientRight"></div>

    </div>

</div>
