---
#  Only the main Sass file needs front matter  (  the dashes are enough  )
---


@charset "utf-8";


@font-face {
  font-family: "LEIXO";
  src: url('../font/leixo/LEIXO-DEMO.ttf');
}

body {
  min-height: 100%;
  min-width: 100%;
  //overflow-x: hidden;
  //overflow-y: hidden;
}

#containMap {
  width: 100vw;
  height: 100vh;

  .awesome-marker-icon-cadetblue {


  }
}

#lieux {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  opacity: 0;
  transition: opacity 0.2s linear;

  div {
    padding: 45px;
    max-width: 280px;
    margin: auto;
    background-color: rgba(18, 165, 212, 0.6);
    border-radius: 120px;
    color: #fff;

    @media screen and (max-width: 991px) {
      padding: 32px;
      max-width: 195px;
      border-radius: 90px;
    }

    h5 {
      margin: 0;
      text-align: center;
      font-size: 40px;
      @media screen and (max-width: 991px) {
        font-size: 25px;
      }

      strong {
        font-weight: 800;
        font-size: 50px;
        @media screen and (max-width: 991px) {
          font-size: 34px;
        }
      }
    }

    button {
      background-color: rgba(18, 217, 201, 0.6);
      color: #fff;
      border: none;
      border-radius: 20px;
      position: absolute;
      margin-top: -260px;
      margin-left: 175px;
      cursor: pointer;
      font-size: 20px;
      padding: 0 10px 4px 10px;

      @media screen and (max-width: 991px) {
        padding: 0 7px 2px 7px;
        margin-top: -165px;
        margin-left: 115px;
        font-size: 17px;
      }
    }
  }
}

.navTop {

  z-index: 401;
  position: absolute;

  a {
    background-color: #12a5d4;
    background-image: linear-gradient(to bottom right, #12a5d4, #12a5d4, #12d9c9, #12d9c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: "LEIXO";
    margin: 14px 0 5px 0;
  }

}

.absolute {
  position: absolute;
  z-index: 401;
}

.containNavbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  transition: 0.3s;
}

/* ********** LEFT ************ */


.footerL {

  display: flex;
  flex-direction: column;
  top: 70%;
  transform: translateY(-70%);
  left: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  flex-wrap: nowrap;
  max-height: 80vh;
  max-width: 100vw;
  height: 100%;

  .btnHide {
    max-height: 10vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    transition: 0.3s;
    flex-shrink: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    align-self: flex-start;


    i, a {

      color: #12a5d4;
      padding: 8px 8px;
      text-align: center;
      white-space: nowrap;
      transition: 0.3s;
      transform: rotate(90deg);

      &.angleUp {
        transform: rotate(270deg);
      }

      &:hover, &:active {
        color: #12d9c9;
      }


    }

  }

  .footerLeft {
    flex-direction: row;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    max-width: 0;
    max-height: 70vh;
    height: 100%;

    &.show {
      max-width: 100vw;
    }


    .navbar {
      flex-direction: column;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;


      &.navbarUnder {
        max-height: 70vh;
        z-index: 2;
        order: -1;
        max-width: 0;
        transition: 0.3s;
        height: 100%;

        &.show {
          max-width: 300px;
        }

      }

      i, a {

        padding: 8px 16px;
      }


    }

    .navbarOn {
      max-width: 0px;
      overflow-x: hidden;
      max-height: 90%;
    }


    .visible {
      max-width: 100%;
    }


  }
}

/* ********** BOTTOM ************ */

.footerB {

  display: flex;
  flex-direction: row;
  left: 45%;
  transform: translateX(-45%);
  bottom: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  flex-wrap: nowrap;

  .btnHide {
    max-width: 10vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    transition: 0.3s;
    flex-shrink: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    align-self: flex-end;


    i, a {

      color: #12a5d4;
      padding: 8px 8px;
      text-align: center;
      white-space: nowrap;
      transition: 0.3s;

      &.angleUp {
        transform: rotate(180deg);
      }


      &:hover, &:active {

        color: #12d9c9;

      }


    }

  }


  .footerBottom {

    align-self: flex-end;
    flex-direction: column;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    max-height: 0;
    max-width: 90vw;
    min-width: 60vw;

    &.show {
      max-height: 50vh;
    }


    .navbar {
      flex-direction: row;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;


      &.navbarUnder {
        max-width: 90vw;
        transition: 0.3s;
        z-index: 2;
        max-height: 0;


        &.show {
          max-height: 100%;
        }

      }


      i, a {

        padding: 8px 8px 8px 8px;

      }


    }

    .navbarOn {
      max-width: 90%;
      max-height: 0;
      overflow-y: hidden;

    }

    .visible {
      max-height: 70px;
    }


  }

}


.navbar {
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  align-items: center;
  flex-shrink: 0;


  i, a{

    color: #d4d6dc;
    padding: 8px 8px;
    text-align: center;
    white-space: nowrap;
    cursor: default;


    &:hover, &:active {
      background-image: linear-gradient(to bottom right, #12a5d4, #12a5d4, #12d9c9, #12d9c9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      //&.repaircafe{
      //  background-image: linear-gradient(to bottom right, #f69730, #f69730);
      //  -webkit-background-clip: text;
      //  -webkit-text-fill-color: transparent;
      //}
      //
      //&.coworking{
      //  background-image: linear-gradient(to bottom right, #d252b9, #d252b9);
      //  -webkit-background-clip: text;
      //  -webkit-text-fill-color: transparent;
      //}
      //
      //&.coop{
      //  background-image: linear-gradient(to bottom right, #38aadd, #38aadd);
      //  -webkit-background-clip: text;
      //  -webkit-text-fill-color: transparent;
      //}
      //
      //&.economie{
      //  background-image: linear-gradient(to bottom right, #e6007e, #e6007e);
      //  -webkit-background-clip: text;
      //  -webkit-text-fill-color: transparent;
      //}


    }


  }


}

.active {
  //background-color: #12a5d4;
  background-image: linear-gradient(to bottom right, #12a5d4, #12a5d4, #12d9c9, #12d9c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  //&.repaircafe{
  //  background-image: linear-gradient(to bottom right, #f69730, #f69730);
  //  -webkit-background-clip: text;
  //  -webkit-text-fill-color: transparent;
  //}
  //
  //&.coworking{
  //  background-image: linear-gradient(to bottom right, #d252b9, #d252b9);
  //  -webkit-background-clip: text;
  //  -webkit-text-fill-color: transparent;
  //}
  //
  //&.coop{
  //  background-image: linear-gradient(to bottom right, #38aadd, #38aadd);
  //  -webkit-background-clip: text;
  //  -webkit-text-fill-color: transparent;
  //}
  //
  //&.economie{
  //  background-image: linear-gradient(to bottom right, #e6007e, #e6007e);
  //  -webkit-background-clip: text;
  //  -webkit-text-fill-color: transparent;
  //}

}

.navbarColorEntraide {
  color: #d4d6dc;
  padding: 8px 8px;
  text-align: center;
  white-space: nowrap;
  cursor: default;


  &:hover, &:active {

    .repaircafe {
      background-image: (#f69730);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    background-image: linear-gradient(to bottom right, #12a5d4, #12a5d4, #12d9c9, #12d9c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}


.navbarOn .closebtn {
  position: absolute;
  bottom: 0;
}

.transition {
  transition: 0.3s;
}


.categotext {
  padding: 8px 0 0 0;
  font-family: Calibri, Trebuchet, sans-serif;
}

.leaflet-popup-content {
  font-family: Calibri, Trebuchet, sans-serif;
  color: #a8a9ae;
}

.controlCustom {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: #a8a9ae;
    padding: 5px;

    font-size: 27px;
  }

  .toggle{
    i {
      color: #a8a9ae;
      padding: 5px;
      transition: 0.3s;
      font-size: 27px;
    }
  }


  .angleUp {
    transform: rotate(-90deg);
  }
}


body .material-tooltip {

  color: #d4d6dc;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px #cfcfcf;

}


.footerL.dropperStyle {
  width: 15vw;
  height: 70vh;
  border: 3px #12a5d4;
  border-style: solid dashed;
}

.footerB.dropperStyle {
  width: 70vw;
  height: 15vh;
  border: 3px #12a5d4;
  border-style: dashed solid;

}

.footer {

  &.dropperEnter {
    border: 4px #12d9c9;
    border-style: dashed;
  }

  &.dropperLeave {
    border: 3px #12a5d4;
    border-style: solid dashed;
  }

  &#droptarget {
    transition: 0.3s;
  }

}


.leaflet-container .leaflet-control-attribution {
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.3);

}

.leaflet-touch .leaflet-control-layers .leaflet-control-layers-toggle {
  width: 4.5vw;
  max-width: 6.5vh;
  min-width: 4.5vh;

  height: 4.5vw;
  max-height: 6.5vh;
  min-height: 4.5vh;


}

.leaflet-touch .leaflet-control-layers{
  transition: 0.3s;
}

.leaflet-control-container .leaflet-control-zoom {
  margin-top: 5px;
  margin-left: 5px;

  a {
    color: #a8a9ae;
  }
}

.leaflet-control-layers [type="radio"]:checked + span::after, .leaflet-control-layers [type="radio"].with-gap:checked + span::after {
  background-color: #12a5d4;
}

.leaflet-control-layers [type="radio"]:checked + span::after, .leaflet-control-layers [type="radio"].with-gap:checked + span::before, .leaflet-control-layers [type="radio"].with-gap:checked + span::after {
  border: 2px solid #12d9c9;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    //font-size: 18px;
  }
}


@media screen and (max-width: 640px) {

  .containNavbar {
    max-width: 90vw;
  }
  .navbarOn {
    max-width: 90vw;
  }

  .brand-logo .logoMava {
    height: 10vh;
  }


}


@media screen and (min-width: 640px) {

  .footerBottom {
    .navbarUnder {
      justify-content: space-evenly;
      min-width: 100%;
    }
  }


}


@media screen and (min-height: 500px) {

  .footerLeft {
    .navbarUnder {
      justify-content: space-evenly;
    }
  }





}


@media screen and (max-height: 640px) {

  .containNavbar {
    max-height: 100vh;
  }
  .navbarOn {
    max-height: 100vh;
  }
}


/*  ********* FONT - SIZE *********** */

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$min_font_catego: 13px;
$min_font_title: 60px;
$max_font_title: 100px;
$max_font: 17px;

html body {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.categotext {
  @include fluid-type($min_width, $max_width, $min_font_catego, $max_font);
}

.nav-wrapper {
  .brand-logo {
    @include fluid-type($min_width, $max_width, $min_font_title, $max_font_title);
  }
}


#containAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkBoxAll {
  margin: 2px;
  padding: 7px;


}

.critere {
  transition: 0.3s;

  &.filterHide {
    display: none;
    max-width: 0;
    max-height: 0;
  }

  &.filterShow {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  margin: 0px;

  .popup {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    i {

      padding: 5px;

    }

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 8px;
      //align-items: center;

      .titre {

        .titrePopup {
          @include fluid-type($min_width, $max_width, $min_font, $max_font);
          color: #68686b;
        }

        .sousTitrePopup {
          font-size: 12px;
        }

      }


      a {
        padding: 3px 0px 3px 8px;

        color: #12a5d4;

        :hover {
          color: #12d9c9;
        }
      }

    }

    .bottom {
      box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.15);
      padding: 8px;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;


      .barre {
        border-right: #d4d6dc solid 1px;
        margin: 3px 8px;
      }


      div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;



        .popupLeft {
          white-space: nowrap;
        }


        .popupRight {


        }


      }


    }


  }

}


.fa-phone {
  transform: rotate(90deg);
}

.logoMava {
  height: 15vh;
}


@import "materialize";

