---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.absolute { position: absolute;z-index:999999999;}

@import "materialize";
